.css-1wrcr25 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer{
    opacity: 0;
}

.css-10trblm{
    text-align: center;
}

.css-1xw8zd0{
    text-align:center;
    justify-content: center;
    display:flex
}